/.sass-cache/
.DS_Store

tacati/.DS_Store

compass_app_log.txt

/compass_app_log.txt
images/.DS_Store

sass/.DS_Store

tacati-main/.DS_Store

sass/.DS_Store

tacati-main/.DS_Store

tacati/woocommerce/.DS_Store

tacati/woocommerce/custom_widgets/.DS_Store

/images/.DS_Store
/sass/.DS_Store
/tacati-main/.DS_Store
/tacati/woocommerce/.DS_Store
/tacati/woocommerce/custom_widgets/.DS_Store