.checkout_custom{
	.button{
		margin-bottom: 10px !important;
	}
	.coupon{
		.button{
			float: right;
		}
	}
	.cart_totals, .checkout{
	.cart-subtotal, .total, thead{
		font-family: edmondsans medium;
		font-size: 22px;
		.amount{
			float:right;
			font-size:25px;
		}
	}
	.checkout_table_item{
				font-family: edmondsans regular;
				font-size:15px;
	}
		width:100%;
		ul{
			li{
				label{
					font-size:17px !important;
					font-weight:400 !important;
				}
			}
		}
		.shipping{
			.amount{
			font-size: 17px !important;
			line-height: 20px;
			float:right;

			}
		}
	}
	#order_review{
		width: 700px;
	}
	
}