header#branding #slider{
	
	height: 800px !important;
}

.flexslider .slides img{
	height: 100% !important;
}
#slider{
	div.content{
	background: image-url("yellow.png") repeat left top;
	border: 1px solid #E0DDD3;
	 @include opacity(.9);
	 @include stretch;
	 z-index: 1;
	 @include border-radius(10px);
	 width: 700px;
	 height: 179px;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 
		 
	 
	 h1{
	 
		font-size: 30px !important;
		color: $brown !important;
		margin-left: 60px;
 }
		
	 h5{
	 
		font-size: 16px!important;
		color: $red;
		margin-left: 60px;
		line-height: 6px !important;
		}
		
	p,div{
		 
		 font-family:"edmondsans medium";
		 font-size: 13px!important;
		 color: $light-blue;
		 margin-left: 60px;
	}
	
	
		
	}
}
		
		
#content2{
	height: 710px;
	width: 300px;
	background: image-url("yellow.png") repeat left top;
	border: 1px solid #E0DDD3;
	 @include opacity(.9);
	 @include border-radius(10px);
	 margin-top: 20px;
	 position: absolute!important;
	 margin-left: 30px;
	 
	 
	 .foto{
	 background: image-url("foto_prodotto.png") repeat left top;
	 border: 3px solid $light-blue-border;
	 width: 66px;
	 height: 66px;
	 float: left;
	 margin-top: 18px;
	 margin-left: 10px;
	 
	 }

h1{
font-size: 33px!important;
color: $red!important;
margin-left: 35px;
margin-top: 6px;
position: absolute;
	
}


h2{
font-size: 22px!important;
float: left;
margin-left: 10px;
}

p{
font-family:"edmondsans medium"!important;
font-size: 12px!important;
color: $red!important;
width: 200px;
float: left;
margin-left: 10px;
margin-top: -3px;
line-height: 13px!important;
}

h4{

font-family:"edmondsans bold"!important;
font-size: 12px!important;
color: $blue!important;
position: absolute;
margin-top: 90px!important;
margin-left: 15px!important;
}


h3{
font-family:"edmondsans medium"!important;
line-height: 20px!important;
font-size: 14px!important;
color: $brown!important;
position: absolute;
margin-top: 120px!important;
margin-left: 15px!important;
width: 210px!important;
}
	 
	 
	 }
#box1{
	position: absolute;
	margin-top: 40px;
	
	.stripes{
	margin-top: 240px;
	}
}	 
#box2{
	position: absolute;
	margin-top: 280px!important;
	.stripes{
	margin-top: 185px;
	}
}	
.stripes{
background: image-url("stripes_prodotto.png") repeat left top;
width: 239px;
height: 3px;
position: absolute;
margin-top: 45px;
margin-left: 20px;
} 



#content3{
	height: 710px;
	width: 300px;
	background: image-url("yellow.png") repeat left top;
	border: 1px solid #E0DDD3;
	 @include opacity(.9);
	 @include border-radius(10px);
	 margin-top: 20px;
	 position: absolute!important;
	 margin-left: 360px;
	 
	 
	 .foto{
	 background: image-url("foto_prodotto.png") repeat left top;
	 border: 3px solid $light-blue-border;
	 width: 66px;
	 height: 66px;
	 float: left;
	 margin-top: 18px;
	 margin-left: 10px;
	 
	 }

	h1{
	font-size: 33px!important;
	color: $red!important;
	margin-left: 35px;
	margin-top: 6px;
	position: absolute;
		
	}


	a.title{
	font-size: 22px!important;
	float: left;
	margin-left: 10px;
	font-family:"mission script";	
	color: $brown;
	margin-bottom:0 !important;
	font-weight: 400 !important;
	margin-top:15;
	}
	

	p{
	font-family:"edmondsans medium"!important;
	font-size: 12px!important;
	color: $red!important;
	width: 200px;
	float: left;
	margin-left: 10px;
	margin-top: -3px;
	line-height: 13px!important;
	}

	h4{

	font-family:"edmondsans bold"!important;
	font-size: 12px!important;
	color: $blue!important;
	position: absolute;
	margin-top: 90px!important;
	margin-left: 15px!important;
	}


	h3{
	font-family:"edmondsans medium"!important;
	line-height: 20px!important;
	font-size: 14px!important;
	color: $brown!important;
	position: absolute;
	margin-top: 120px!important;
	margin-left: 15px!important;
	width: 210px!important;
	}
	 	 
}
#box1{
	position: absolute;
	margin-top: 40px;
	
	.stripes{
	margin-top: 240x;
	}
}	 
#box2{
	position: absolute;
	margin-top: 250px;
	.stripes{
	margin-top: 230px;
	}
}	
.stripes{
background: image-url("stripes_prodotto.png") repeat left top;
width: 239px;
height: 3px;
position: absolute;
margin-top: 45px;
margin-left: 20px;
} 


	

#navigation {
	
	margin: 0 4px 0 0;
	font-size: 14px;
	
	.button_slider{
		background: image-url("button_slide.png") repeat left top;
		width: 20px;
		height: 20px;
		float: left;
		position: absolute;
		margin-left: 0!important;
		
	}
	.button_slider2{
		background: image-url("button_slide.png") repeat left top;
		width: 20px;
		height: 20px;
		float: left;
		position: absolute;
		margin-left: 30px!important;
		
		
	}
		
 .button_slider3{
	background: image-url("button_slide.png") repeat left top;
	width: 20px;
	height: 20px;
	float: left;
	position: absolute;
	margin-left: 60px!important;
	
	
 }
	
		
	
	
}
